<div class="login-page">
  <div class="form">
    <form action="/addHotel" method="POST" class="create-form">
      <input type="text" name='title' placeholder="Title" />
      <input type="text" name='location' placeholder="Location" />
      <input type="text" name='image' placeholder="Image Url" />

      <select class='picker' name="type">
      <option value="Fancy">Fancy</option>
      <option value="Not Fancy">Not Fancy</option>
      </select>
      <br>
      <br>
      <textarea name="description" id="" cols="35" rows="10" placeholder="description"></textarea>
      <br>

      <button type="submit">create</button>
    </form>
  </div>
</div>