<section id="viewCatalog">
    <div id="allForumPosts" class="posts">
        {{#each posts}}
            {{> post}}
        {{else}}
            <p>No posts in database</p>
        {{/each }}
    </div>
</section>