<div id="menu">
    <div class="title">Navigation</div>
    <a class="nav" href="#" id="linkCatalog" data-target="Catalog">Catalog</a>
    <a class="nav" href="#" data-target="PostCreate">Create Post</a>
    <a class="nav" href="#" id="linkMyPosts" data-target="MyPosts">My Posts</a>
    <a class="nav" href="#" data-target="About">About</a>
</div>