<section id="viewSignIn">
    <div class="welcome">
        <div class="signup">
            <form id="loginForm">
                <h2>Sign In</h2>
                <label>Username:</label>
                <input name="username" type="text">
                <label>Password:</label>
                <input name="password" type="password">
                <input id="btnLogin" type="submit" value="Sign In">
            </form>
            <form id="registerForm">
                <h2>Register</h2>
                <label>Username:</label>
                <input name="username" type="text">
                <label>Password:</label>
                <input name="password" type="password">
                <label>Repeat Password:</label>
                <input name="repeatPass" type="password">
                <input id="btnRegister" type="submit" value="Sign Up">
            </form>
        </div>

        <div class="about">
            <h1>{{header}}</h1>
            <p>
                Share interesting links and discuss great content. It's what's happening now.
                {{paragraphOne}}
            </p>
            <p>Sign in or sign up in a second.{{paragraphTwo}}</p>
        </div>
    </div>
</section>