<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{#if isAdmin}}
    <h1>I am admin</h1>
    {{else}}
    <h1>im not admin</h1>
    {{/if}}
    <ul>       
    {{#each myArray}}
    <li>{{this}}</li>
    {{else}}
    <li>empty array</li>
    {{/each}}
     </ul>
</body>
</html>