
    <h1>Add New Meme</h1>
    <div class="container">
        <form action="/sSearchMeme" enctype=multipart/form-data>
            <label for="memeTitle">Title</label>
            <input type="text" id="memeTitle" name="memeTitle" placeholder="The title of the meme">

            <select name='genreSelect' id="genreSelect">
                <div id="replaceMe">{{replaceMe}}</div>
            </select>
            <input type="submit" value="Submit">

        </form>
    </div>
