--Bank Database
CREATE DATABASE Bank
GO

USE Bank
GO

CREATE TABLE Cities(
CityID INT,
CityName VARCHAR(50) NOT NULL,
CONSTRAINT PK_Cities PRIMARY KEY(CityID)
)

INSERT INTO Cities(CityID, CityName)
VALUES
(1,'Povorino'),
(2,'Tanumshede'),
(3,'Santa Mara'),
(4,'Uppsala'),
(5,'Nanpu'),
(6,'Char BhadrДЃsan'),
(7,'Darungan Lor'),
(8,'Orlu'),
(9,'Leiden'),
(10,'Rio do Sul'),
(11,'Pinhais'),
(12,'Budapest'),
(13,'Skrunda'),
(14,'Tumaco'),
(15,'Jiangmen'),
(16,'Belyy Yar'),
(17,'Nevers'),
(18,'Boje'),
(19,'Sungaibengkal'),
(20,'Nueva Guadalupe')

CREATE TABLE Customers(
CustomerID INT,
FirstName VARCHAR(30) NOT NULL,
LastName VARCHAR(30) NOT NULL,
Gender CHAR(1) NOT NULL,
DateOfBirth DATE NOT NULL,
Height FLOAT,
CityID INT,
CONSTRAINT PK_Customers PRIMARY KEY(CustomerID),
CONSTRAINT FK_Customers_Cities FOREIGN KEY(CityID) REFERENCES Cities(CityID)
)



CREATE TABLE Accounts( 
AccountID INT,
AccountNumber CHAR(12) NOT NULL,
StartDate DATE NOT NULL,
CustomerID INT NOT NULL,
CONSTRAINT PK_Accounts PRIMARY KEY(AccountID),
CONSTRAINT FK_Accounts_Customers FOREIGN KEY(CustomerID) REFERENCES Customers(CustomerID)
)


CREATE TABLE Loans( 
LoanID INT IDENTITY,
StartDate DATE NOT NULL,
Amount DECIMAL (18,2) NOT NULL,
Interest DECIMAL(4,2) NOT NULL,
ExpirationDate DATE NULL,
CustomerID INT NOT NULL,
CONSTRAINT PK_Loan PRIMARY KEY(LoanID),
CONSTRAINT FK_Loans_Customers FOREIGN KEY(CustomerID) REFERENCES Customers(CustomerID)
)

SET IDENTITY_INSERT Loans ON



CREATE TABLE Branches(
BranchID INT,
Name VARCHAR(50),
CityID INT NOT NULL,
CONSTRAINT PK_Branches PRIMARY KEY(BranchID),
CONSTRAINT FK_Branches_Cities FOREIGN KEY(CityID) REFERENCES Cities(CityID)
)

INSERT INTO Branches (BranchID, Name, CityID)
VALUES
(1,'Roy',13),
(2,'Roy',8),
(3,'Eugene',8),
(4,'Virginia',15),
(5,'Aaron',14),
(6,'Lois',17),
(7,'Marilyn',13),
(8,'Joseph',9),
(9,'Andrew',18),
(10,'Angela',12),
(11,'Nicole',19),
(12,'Jesse',15),
(13,'Louis',15),
(14,'Pamela',6),
(15,'Nicholas',18),
(16,'Judy',5),
(17,'Lois',15),
(18,'Lois',7),
(19,'Mildred',4),
(20,'Laura',16)


CREATE TABLE Employees(
EmployeeID INT,
FirstName VARCHAR(50) NOT NULL,
HireDate DATE NOT NULL,
Salary DECIMAL(8,2),
BranchID INT,
CONSTRAINT PK_Employees PRIMARY KEY(EmployeeID),
CONSTRAINT FK_Employees_Branches FOREIGN KEY(BranchID) REFERENCES Branches(BranchID)
)


CREATE TABLE EmployeesLoans(
EmployeeID INT,
LoanID INT,
CONSTRAINT PK_EmployeesLoans PRIMARY KEY(EmployeeID, LoanID),
CONSTRAINT FK_EmployeesCustomers_Employees FOREIGN KEY(EmployeeID) REFERENCES Employees(EmployeeID),
CONSTRAINT FK_EmployeesLoans_Loans FOREIGN KEY(LoanID) REFERENCES Loans(LoanID)
)

INSERT INTO EmployeesLoans (EmployeeID, LoanID)
VALUES
(16,34),
(1,34),
(11,30),
(4,45),
(26,39),
(3,14),
(19,16),
(4,26),
(23,19),
(18,35),
(22,17),
(20,11),
(18,15),
(27,30),
(12,11),
(1,8),
(7,9),
(7,6),
(24,24),
(17,9),
(17,36),
(5,31),
(22,33),
(13,5),
(3,4),
(18,34),
(4,14),
(26,49),
(1,14),
(30,7)


CREATE TABLE EmployeesAccounts(
EmployeeID INT,
AccountID INT,
CONSTRAINT PK_EmployeesAccounts PRIMARY KEY(EmployeeID, AccountID),
CONSTRAINT FK_EmployeesAccounts_Employees FOREIGN KEY(EmployeeID) REFERENCES Employees(EmployeeID),
CONSTRAINT FK_EmployeesAccounts_Account FOREIGN KEY(AccountID) REFERENCES Accounts(AccountID)
)

INSERT INTO EmployeesAccounts (EmployeeID, AccountID)
VALUES
(7,33),
(6,28),
(14,35),
(19,27),
(30,35),
(18,5),
(8,33),
(2,8),
(25,26),
(27,19),
(26,17),
(29,28),
(21,24),
(6,27),
(21,14),
(28,33),
(28,14),
(17,34),
(16,11),
(16,12),
(5,38),
(7,9),
(23,17),
(14,18),
(21,37),
(12,13),
(26,23),
(22,2),
(19,19),
(2,1),
(12,4),
(22,6),
(19,30),
(16,5),
(14,5),
(25,13),
(8,30),
(25,31),
(11,18),
(19,22),
(21,31),
(3,34),
(21,2),
(26,38),
(6,37),
(16,19),
(24,39),
(15,9),
(20,7),
(18,31)