<div class="panel-body">
  <form class="form-horizontal" novalidate (ngSubmit)="addUserToRole()" [formGroup]="userInRoleForm">
    <fieldset>
      <div class="form-group">
        <label class="col-md-2 control-label" for="usernameId">Username</label>
        <div class="col-md-8">
          <select class="form-control" id="usernameId" type="select" formControlName="username">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label" for="usernameId">Role</label>
        <div class="col-md-8">
          <select class="form-control" id="role" type="select" formControlName="role">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
          </select>
        </div>
      </div>
      <input type="submit" value="Assign Role" />
    </fieldset>
  </form>
</div>