<div class="login-page">
  <div class="form">
    <form action="/createCategory" method="POST" class="create-form">
      <input type="text" name='title' placeholder="Title" />

      <button type="submit">Create</button>
    </form>
  </div>
</div>