USE [master]
GO
/****** Object:  Database [PhotographySystem]    Script Date: 6/23/2015 9:22:02 AM ******/
CREATE DATABASE [PhotographySystem]
GO
USE [PhotographySystem]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserId] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AlbumsPhotographs]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlbumsPhotographs](
	[AlbumId] [int] NOT NULL,
	[PhotographId] [int] NOT NULL,
 CONSTRAINT [PK_AlbumsPhotographs] PRIMARY KEY CLUSTERED 
(
	[AlbumId] ASC,
	[PhotographId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cameras]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cameras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Price] [money] NULL,
	[Megapixels] [int] NULL,
 CONSTRAINT [PK_Cameras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Equipments]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LensId] [int] NULL,
	[CameraId] [int] NOT NULL,
 CONSTRAINT [PK_Equipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lenses]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ManufacturerId] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Lenses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Manufacturers]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Photographs]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photographs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CategoryId] [int] NOT NULL,
	[EquipmentId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Link] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Photographs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/23/2015 9:22:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[EquipmentId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Albums] ON 

INSERT [dbo].[Albums] ([Id], [Name], [UserId], [Description]) VALUES (1, N'Mobile', 3, N'Mobile uploads')
INSERT [dbo].[Albums] ([Id], [Name], [UserId], [Description]) VALUES (2, N'SoftUni Teambuilding', 3, N'Special contributions')
INSERT [dbo].[Albums] ([Id], [Name], [UserId], [Description]) VALUES (3, N'The little things in my life', 3, N'Unforgettable moments...')
SET IDENTITY_INSERT [dbo].[Albums] OFF
INSERT [dbo].[AlbumsPhotographs] ([AlbumId], [PhotographId]) VALUES (1, 3)
INSERT [dbo].[AlbumsPhotographs] ([AlbumId], [PhotographId]) VALUES (1, 7)
INSERT [dbo].[AlbumsPhotographs] ([AlbumId], [PhotographId]) VALUES (1, 18)
SET IDENTITY_INSERT [dbo].[Cameras] ON 

INSERT [dbo].[Cameras] ([Id], [ManufacturerId], [Model], [Year], [Price], [Megapixels]) VALUES (1, 4, N'K-3 II', 2015, 969.0000, 24)
INSERT [dbo].[Cameras] ([Id], [ManufacturerId], [Model], [Year], [Price], [Megapixels]) VALUES (2, 4, N'K-S2', 2015, 860.0000, 20)
INSERT [dbo].[Cameras] ([Id], [ManufacturerId], [Model], [Year], [Price], [Megapixels]) VALUES (3, 4, N'K-S1', 2014, 360.0000, 20)
SET IDENTITY_INSERT [dbo].[Cameras] OFF
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Street')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Nature')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Reportage')
SET IDENTITY_INSERT [dbo].[Categories] OFF
SET IDENTITY_INSERT [dbo].[Equipments] ON 

INSERT [dbo].[Equipments] ([Id], [LensId], [CameraId]) VALUES (1, 4, 25)
INSERT [dbo].[Equipments] ([Id], [LensId], [CameraId]) VALUES (2, 6, 25)
INSERT [dbo].[Equipments] ([Id], [LensId], [CameraId]) VALUES (3, 9, 26)
SET IDENTITY_INSERT [dbo].[Equipments] OFF
SET IDENTITY_INSERT [dbo].[Lenses] ON 

INSERT [dbo].[Lenses] ([Id], [ManufacturerId], [Model], [Type], [Price]) VALUES (1, 5, N'EF 8-15 f/4L Fisheye USM', N'Wideangle fisheye zoom lens', 1249.0000)
INSERT [dbo].[Lenses] ([Id], [ManufacturerId], [Model], [Type], [Price]) VALUES (3, 5, N'EF 14mm f/2.8L II USM', N'Wideangle prime lens', 2099.0000)
INSERT [dbo].[Lenses] ([Id], [ManufacturerId], [Model], [Type], [Price]) VALUES (4, 5, N'EF 14mm f/2.8L USM', N'Wideangle prime lens', NULL)
SET IDENTITY_INSERT [dbo].[Lenses] OFF
SET IDENTITY_INSERT [dbo].[Manufacturers] ON 

INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (1, N'Agfa')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (2, N'Epson')
INSERT [dbo].[Manufacturers] ([Id], [Name]) VALUES (3, N'Kyocera')
SET IDENTITY_INSERT [dbo].[Manufacturers] OFF
SET IDENTITY_INSERT [dbo].[Photographs] ON 

INSERT [dbo].[Photographs] ([Id], [Title], [Description], [CategoryId], [EquipmentId], [UserId], [Link]) VALUES (1, N'Fields of Gold', NULL, 3, 1, 2, N'http://photo-forum.net/i/1919442')
INSERT [dbo].[Photographs] ([Id], [Title], [Description], [CategoryId], [EquipmentId], [UserId], [Link]) VALUES (3, N'Best Photo Ever', N'Period !', 4, 2, 3, N'http://photo-forum.net/i/1920515')
INSERT [dbo].[Photographs] ([Id], [Title], [Description], [CategoryId], [EquipmentId], [UserId], [Link]) VALUES (4, N'Dog', N'Aint he a fluffy bag?', 1, 3, 12, N'http://photo-forum.net/i/1920281')
SET IDENTITY_INSERT [dbo].[Photographs] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [FullName], [BirthDate], [EquipmentId]) VALUES (1, N'VladoK', N'Vladimir Karamfilov', CAST('1983-04-17' AS DateTime), 3)
INSERT [dbo].[Users] ([Id], [Username], [FullName], [BirthDate], [EquipmentId]) VALUES (2, N'nakov', N'Svetlin Nakov', CAST('1988-08-18' AS DateTime), 6)
INSERT [dbo].[Users] ([Id], [Username], [FullName], [BirthDate], [EquipmentId]) VALUES (3, N'Alex', N'Alexandra Svilarova', CAST('1982-02-09' AS DateTime), 8)

SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Users]
GO
ALTER TABLE [dbo].[AlbumsPhotographs]  WITH CHECK ADD  CONSTRAINT [FK_AlbumsPhotographs_Albums] FOREIGN KEY([AlbumId])
REFERENCES [dbo].[Albums] ([Id])
GO
ALTER TABLE [dbo].[AlbumsPhotographs] CHECK CONSTRAINT [FK_AlbumsPhotographs_Albums]
GO
ALTER TABLE [dbo].[AlbumsPhotographs]  WITH CHECK ADD  CONSTRAINT [FK_AlbumsPhotographs_Photographs] FOREIGN KEY([PhotographId])
REFERENCES [dbo].[Photographs] ([Id])
GO
ALTER TABLE [dbo].[AlbumsPhotographs] CHECK CONSTRAINT [FK_AlbumsPhotographs_Photographs]
GO
ALTER TABLE [dbo].[Cameras]  WITH CHECK ADD  CONSTRAINT [FK_Cameras_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Cameras] CHECK CONSTRAINT [FK_Cameras_Manufacturers]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Equipments_Cameras] FOREIGN KEY([CameraId])
REFERENCES [dbo].[Cameras] ([Id])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Equipments_Cameras]
GO
ALTER TABLE [dbo].[Equipments]  WITH CHECK ADD  CONSTRAINT [FK_Equipments_Lenses] FOREIGN KEY([LensId])
REFERENCES [dbo].[Lenses] ([Id])
GO
ALTER TABLE [dbo].[Equipments] CHECK CONSTRAINT [FK_Equipments_Lenses]
GO
ALTER TABLE [dbo].[Lenses]  WITH CHECK ADD  CONSTRAINT [FK_Lenses_Manufacturers] FOREIGN KEY([ManufacturerId])
REFERENCES [dbo].[Manufacturers] ([Id])
GO
ALTER TABLE [dbo].[Lenses] CHECK CONSTRAINT [FK_Lenses_Manufacturers]
GO
ALTER TABLE [dbo].[Photographs]  WITH CHECK ADD  CONSTRAINT [FK_Photographs_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Photographs] CHECK CONSTRAINT [FK_Photographs_Categories]
GO
ALTER TABLE [dbo].[Photographs]  WITH CHECK ADD  CONSTRAINT [FK_Photographs_Equipments] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([Id])
GO
ALTER TABLE [dbo].[Photographs] CHECK CONSTRAINT [FK_Photographs_Equipments]
GO
ALTER TABLE [dbo].[Photographs]  WITH CHECK ADD  CONSTRAINT [FK_Photographs_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Photographs] CHECK CONSTRAINT [FK_Photographs_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Equipments] FOREIGN KEY([EquipmentId])
REFERENCES [dbo].[Equipments] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Equipments]
GO
USE [master]
GO